
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-page-pEG {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #f52121 -0%, #cbc1c1 100%);
}
.login-page-pEG .frame-12-m9W {
  width: 100%;
  height: 14.4rem;
  position: relative;
  overflow: hidden;
  background-color: #310808;
  flex-shrink: 0;
}
.login-page-pEG .frame-12-m9W .logo-Wct {
  width: 17.1rem;
  height: 8rem;
  position: absolute;
  left: 3.6rem;
  top: 3.2rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .frame-12-m9W .home-about-menu-serivices-testmanial-book-a-table-contact-1pY {
  width: 105.5rem;
  height: 2.5rem;
  position: absolute;
  left: 33.3rem;
  top: 6.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .frame-12-m9W .frame-7-6b6 {
  box-sizing: border-box;
  padding: 3.2rem 5.2rem 3.2rem 3.6rem;
  width: 144rem;
  height: 14.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #310808;
}
.login-page-pEG .frame-12-m9W .frame-7-6b6 .logo-okQ {
  margin-right: 12.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-pEG .frame-12-m9W .frame-7-6b6 .home-about-menu-serivices-testmanial-book-a-table-contact-wbi {
  margin-top: 1.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap {
  box-sizing: border-box;
  padding: 2.3rem 5rem 1.8rem 3.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-qlng-kp4 {
  margin: 0rem 23.6rem 1rem 22.5rem;
  width: calc(100% - 46.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-qlng-kp4 .sign-up-gBv {
  margin: 0rem 56.7rem 1.1rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-qlng-kp4 .login-CAG {
  margin-top: 1.1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx {
  width: 100%;
  height: 76.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda {
  margin-right: 12.4rem;
  box-sizing: border-box;
  padding: 1.4rem 1.6rem 3.1rem 1.3rem;
  width: 63.5rem;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.3600000143);
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .full-name--mMn {
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .rectangle-59-6ur {
  margin: 0rem 0rem 4.9rem 0.5rem;
  width: 60.1rem;
  height: 5.6rem;
  background-color: rgba(217, 217, 217, 0.5);
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .email--DUg {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .rectangle-60-kzQ {
  margin: 0rem 0rem 4.9rem 0.5rem;
  width: 60.1rem;
  height: 5.6rem;
  background-color: rgba(217, 217, 217, 0.5);
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .phone-number--t52 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .rectangle-61-pUU {
  margin-bottom: 4.9rem;
  width: 60.1rem;
  height: 5.6rem;
  background-color: rgba(217, 217, 217, 0.5);
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .adress--MzC {
  margin-left: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .rectangle-62-UZ2 {
  margin-bottom: 3.5rem;
  width: 60.1rem;
  height: 16.3rem;
  background-color: rgba(217, 217, 217, 0.5);
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-fhqg-Uda .auto-group-fzxg-UhS {
  margin: 0rem 17.4rem 0rem 11.4rem;
  width: calc(100% - 28.8rem);
  height: 7.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 3rem;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC {
  margin-top: 1.3rem;
  width: 59.6rem;
  height: 50rem;
  position: relative;
  flex-shrink: 0;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .email-adress--BEU {
  width: 19.4rem;
  height: 3rem;
  position: absolute;
  left: 2.4rem;
  top: 3.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .frame-14-VFA {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 12.5rem;
  top: 4.1rem;
  overflow: hidden;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .rectangle-64-d6U {
  width: 59.6rem;
  height: 50rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(217, 217, 217, 0.5);
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .rectangle-65-xPe {
  width: 57rem;
  height: 5.3rem;
  position: absolute;
  left: 1.6rem;
  top: 9.7rem;
  background-color: rgba(217, 217, 217, 0.5);
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .password--5UG {
  width: 14.6rem;
  height: 3rem;
  position: absolute;
  left: 2.8rem;
  top: 20.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .rectangle-66-PE4 {
  width: 58rem;
  height: 5.6rem;
  position: absolute;
  left: 1.1rem;
  top: 25.9rem;
  background-color: rgba(217, 217, 217, 0.5);
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .rectangle-67-KNc {
  width: 23.4rem;
  height: 7.1rem;
  position: absolute;
  left: 17.3rem;
  top: 39.9rem;
  background-color: #e44242;
  border-radius: 3rem;
}
.login-page-pEG .auto-group-6fxs-Eap .auto-group-7zfs-vrx .auto-group-k48l-rCC .login-3pQ {
  width: 14rem;
  height: 5rem;
  position: absolute;
  left: 21.8rem;
  top: 41rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #010101;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
