
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menu-d2C {
  width: 100%;
  height: 128.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.menu-d2C .desktop-3-yLx {
  box-sizing: border-box;
  padding-bottom: 42.1rem;
  width: 100%;
  height: 176.3rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #fd1919 -0%, rgba(255, 255, 255, 0) 100%);
}
.menu-d2C .desktop-3-yLx .frame-7-V4Q {
  margin-bottom: 5.4rem;
  box-sizing: border-box;
  padding: 3.2rem 5.2rem 3.2rem 3.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #310808;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .frame-7-V4Q .logo-1He {
  margin-right: 12.6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .frame-7-V4Q .home-about-menu-serivices-testmanial-book-a-table-contact-Y2g {
  margin-top: 1.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .our-menu-qGg {
  margin: 0rem 4.2rem 0.3rem 0rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.1325;
  color: #000000;
  font-family: Aclonica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-words-which-dont-look-even-slightly-believable-Lz8 {
  margin: 0rem 0rem 9.8rem 5.4rem;
  max-width: 93.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.195;
  color: #161616;
  font-family: Akaya Kanadaka, 'Source Sans Pro';
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv {
  margin: 0rem 2rem 0rem 2.1rem;
  width: calc(100% - 4.1rem);
  height: 85.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg {
  margin-right: 8.6rem;
  width: 40.9rem;
  height: 82.3rem;
  position: relative;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .rectangle-17-CQ4 {
  width: 40.9rem;
  height: 81.9rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background: linear-gradient(180deg, #fe0000 -0%, rgba(255, 254, 254, 0) 100%);
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .spicey-meatballs-HAc {
  width: 24rem;
  height: 4.4rem;
  position: absolute;
  left: 1.5rem;
  top: 52.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #000000;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .rectangle-18-nNG {
  width: 40.7rem;
  height: 41.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .star-1-JrQ {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 1.5rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .star-2-dtg {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 8.2rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .star-3-aJ8 {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 14.9rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .star-4-u5W {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 22.5rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .star-5-qE4 {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 30.1rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .rectangle-21-mtQ {
  width: 9.5rem;
  height: 4.3rem;
  position: absolute;
  left: 28.5rem;
  top: 52.7rem;
  background-color: #ff0000;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .item-99-Wb6 {
  width: 5.5rem;
  height: 4.4rem;
  position: absolute;
  left: 30.7rem;
  top: 52.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #000000;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .rectangle-24-1nk {
  width: 19.7rem;
  height: 6.5rem;
  position: absolute;
  left: 10.4rem;
  top: 59.8rem;
  background-color: #ff0000;
  border-radius: 2rem;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-3ehr-scg .order-now-ix4 {
  width: 14.5rem;
  height: 4.4rem;
  position: absolute;
  left: 14rem;
  top: 60.4rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #ffffff;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 {
  margin-right: 2.8rem;
  width: 45.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .spicey-meatballs-9Gg {
  width: 24rem;
  height: 4.4rem;
  position: absolute;
  left: 2.8rem;
  top: 52.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #000000;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .rectangle-16-T2U {
  width: 40.9rem;
  height: 81.9rem;
  position: absolute;
  left: 1.4rem;
  top: 0.4rem;
  background: linear-gradient(180deg, #fc0202 -0%, rgba(255, 248, 248, 0) 100%);
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .rectangle-19-9vt {
  width: 40.7rem;
  height: 41.4rem;
  position: absolute;
  left: 1.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .star-6-tda {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 2.8rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .star-7-d5N {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 11.2rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .star-8-xNY {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 18.5rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .star-9-Hfi {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 25.5rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .star-10-2NQ {
  width: 6.7rem;
  height: 5.4rem;
  position: absolute;
  left: 33.1rem;
  top: 44.4rem;
  object-fit: contain;
  vertical-align: top;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .rectangle-22-Zt8 {
  width: 9.5rem;
  height: 4.3rem;
  position: absolute;
  left: 31.7rem;
  top: 52.8rem;
  background-color: #ff0000;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .item-99-Jap {
  width: 5.5rem;
  height: 4.4rem;
  position: absolute;
  left: 33.7rem;
  top: 52.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #000000;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .rectangle-25-2Fv {
  width: 19.7rem;
  height: 6.5rem;
  position: absolute;
  left: 12rem;
  top: 59.8rem;
  background-color: #ff0000;
  border-radius: 2rem;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .order-now-9rL {
  width: 14.5rem;
  height: 4.4rem;
  position: absolute;
  left: 14.2rem;
  top: 60.9rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #ffffff;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .rectangle-27-s1e {
  width: 31.9rem;
  height: 6.7rem;
  position: absolute;
  left: 7.3rem;
  top: 78.8rem;
  background-color: #ff0000;
  border-radius: 2rem;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .explor-menu-Pkg {
  width: 28.2rem;
  height: 4.5rem;
  position: absolute;
  left: 8.9rem;
  top: 79.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .rectangle-30-gUt {
  width: 45.7rem;
  height: 10.3rem;
  position: absolute;
  left: 0;
  top: 68.5rem;
  background-color: #ff0000;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-k1gp-DP2 .explore-menu-dQ8 {
  width: 40.4rem;
  height: 6rem;
  position: absolute;
  left: 3.1rem;
  top: 70rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Arbutus, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp {
  margin-top: 0.4rem;
  width: 41.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #fdfdfd -0%, rgba(235, 22, 22, 0) 100%);
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .rectangle-20-g7W {
  width: 41.9rem;
  height: 41rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 {
  box-sizing: border-box;
  padding: 3rem 1rem 9.7rem 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-2a6x-Fpp {
  margin: 0rem 2.8rem 2.9rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-2a6x-Fpp .star-11-5SU {
  margin-right: 0.3rem;
  width: 6.7rem;
  height: 5.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-2a6x-Fpp .star-12-pQ4 {
  margin-right: 0.6rem;
  width: 6.7rem;
  height: 5.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-2a6x-Fpp .star-13-maC {
  margin-right: 1rem;
  width: 6.7rem;
  height: 5.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-2a6x-Fpp .star-14-Jq2 {
  margin-right: 1rem;
  width: 6.7rem;
  height: 5.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-2a6x-Fpp .star-15-FVN {
  width: 6.7rem;
  height: 5.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-rtgy-Q7N {
  margin-bottom: 2.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-rtgy-Q7N .spicey-meatballs-MHW {
  margin: 0.1rem 5.7rem 0rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #000000;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-rtgy-Q7N .auto-group-iovw-g4t {
  margin-bottom: 0.1rem;
  width: 9.5rem;
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-rtgy-Q7N .auto-group-iovw-g4t .rectangle-23-pRz {
  width: 9.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #ff0000;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-rtgy-Q7N .auto-group-iovw-g4t .item-99-Ysn {
  width: 5.5rem;
  height: 4.4rem;
  position: absolute;
  left: 2rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #000000;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
}
.menu-d2C .desktop-3-yLx .auto-group-5kuy-Nfv .auto-group-mwct-wQp .auto-group-tfal-Dt8 .auto-group-zj1n-qbz {
  margin: 0rem 9.5rem 0rem 10rem;
  width: calc(100% - 19.5rem);
  height: 6.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.195;
  color: #ffffff;
  font-family: Akaya Telivigala, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0404;
  border-radius: 2rem;
  flex-shrink: 0;
}
