
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-hSU {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 20, 20, 0.6800000072) -0%, rgba(0, 0, 0, 0.6800000072) 100%);
  padding-bottom: 3.5rem;
  width: 100%;

  .frame-7-gpC {
    background-color: #310808;
    flex-shrink: 0;
    margin-bottom: 17.2rem;
    width: 100%;
    height: 14.4rem;
    position: relative;
    overflow: hidden;

    .logo-NqS {
      top: 3.2rem;
      font-size: 6.4rem;
      font-weight: 400;
      font-family: Arbutus, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 3.6rem;
      line-height: 1.25;
      color: #ffffff;
      width: 17.1rem;
      height: 8rem;
    }
    .home-about-menu-serivices-testmanial-book-a-table-contact-D5N {
      top: 6.9rem;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
      font-family: Arbutus, 'Source Sans Pro';
      width: 105.5rem;
      height: 2.5rem;
      position: absolute;
      left: 33.3rem;
      font-size: 2rem;
      white-space: nowrap;
    }
    .frame-8-TkQ {
      width: 144rem;
      height: 14.4rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #310808;

      .logo-Pe4 {
        color: #ffffff;
        white-space: nowrap;
        width: 17.1rem;
        font-size: 6.4rem;
        font-weight: 400;
        top: 3.2rem;
        line-height: 1.25;
        font-family: Arbutus, 'Source Sans Pro';
        height: 8rem;
        position: absolute;
        left: 3.6rem;
      }
      .home-about-menu-serivices-testmanial-book-a-table-contact-6oN {
        top: 6.9rem;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        width: 105.5rem;
        height: 2.5rem;
        position: absolute;
        left: 33.3rem;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
      }
      .frame-7-Bpp {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        display: flex;
        background-color: #310808;
        align-items: center;
        padding: 3.2rem 5.2rem 3.2rem 3.6rem;
        width: 144rem;
        height: 14.4rem;
        left: 0;
        overflow: hidden;

        .logo-GrG {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 12.6rem;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #ffffff;
          font-family: Arbutus, 'Source Sans Pro';
        }
        .home-about-menu-serivices-testmanial-book-a-table-contact-Pfz {
          line-height: 1.25;
          color: #ffffff;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 1.9rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }
  .auto-group-j7ba-sbA {
    height: 72rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 11.5rem 0rem 9.3rem;
    width: calc(100% - 20.8rem);

    .auto-group-hjmn-B64 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.4rem 11.9rem 1.4rem 0rem;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .auto-group-5ytg-W8L {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 9.1rem;

        .rectangle-12-S1z {
          width: 28.6rem;
          height: 29.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.4rem;
        }
        .rectangle-13-9h6 {
          flex-shrink: 0;
          width: 28.6rem;
          height: 29.7rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-t7ec-UUU {
        flex-shrink: 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        .rectangle-3-qK2 {
          margin-bottom: 4.1rem;
          width: 28.6rem;
          height: 29.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-4-MoA {
          height: 29.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 28.6rem;
        }
      }
    }
    .auto-group-z3de-tHJ {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 45rem;
      height: 100%;
      align-items: center;

      .frame-6-EMA {
        font-family: Arbutus, 'Source Sans Pro';
        display: flex;
        font-size: 4rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        height: 5rem;
        overflow: hidden;
        position: relative;
        justify-content: center;
        margin: 0rem 12.3rem 14.9rem 10.7rem;
        width: calc(100% - 23rem);
        line-height: 1.25;
      }
      .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-words-which-dont-look-even-slightly-believable-VH6 {
        flex-shrink: 0;
        margin-bottom: 13.1rem;
        max-width: 45rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.39;
        color: #000000;
        font-family: Architects Daughter, 'Source Sans Pro';
      }
      .frame-5-K1E {
        font-size: 3.2rem;
        font-family: Architects Daughter, 'Source Sans Pro';
        background-color: #ff2d00;
        flex-shrink: 0;
        box-sizing: border-box;
        font-weight: 400;
        color: #ffffff;
        padding: 0.8rem 6.5rem 0.8rem 5.1rem;
        width: calc(100% - 17rem);
        height: 7.8rem;
        white-space: nowrap;
        margin: 0rem 9.1rem 0rem 7.9rem;
        overflow: hidden;
        position: relative;
        line-height: 1.39;
      }
    }
  }
  .frame-8-A1r {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: #310808;
    flex-shrink: 0;
    padding: 5.8rem 1.3rem 7.4rem 5rem;
    overflow: hidden;
    position: relative;
    align-items: center;

    .auto-group-zznl-5uW {
      flex-shrink: 0;
      margin: 1rem 6.2rem 0rem 0rem;
      width: 43.9rem;

      .logo-cuS {
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.4rem 7.2rem;
      }
      .auto-group-u6ng-98g {
        background-color: #563333;
        box-sizing: border-box;
        padding: 0 1.2rem;
        width: 100%;
        height: 27.4rem;

        .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-sKa {
          max-width: 37rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
        }
      }
    }
    .auto-group-ednc-6i8 {
      margin: 0.4rem 7.1rem 0rem 0rem;
      width: 42.6rem;
      flex-shrink: 0;

      .contact-us-dCG {
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 3.4rem 3.4rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .auto-group-blap-9gQ {
        margin-bottom: 2.3rem;
        width: 100%;
        height: 3.8rem;
        font-size: 2.4rem;
        font-family: Arbutus, 'Source Sans Pro';
        background-color: #563333;
        box-sizing: border-box;
        padding: 0.1rem 0;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
      }
      .auto-group-s5ec-e7N {
        margin-bottom: 2.3rem;
        width: 100%;
        height: 4.5rem;
        position: relative;

        .rectangle-8-zS8 {
          background-color: #563333;
          width: 42.6rem;
          height: 4.1rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
        }
        .timing-9am-to9pm-82Y {
          height: 3rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2.4rem;
          font-weight: 400;
          color: #000000;
          width: 28.4rem;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.25;
        }
      }
      .auto-group-wri4-RnL {
        width: 100%;
        height: 14.6rem;
        background-color: #563333;
        box-sizing: border-box;
        padding: 0.4rem 0.1rem;

        .adress-f-306-vraj-vihar-haridarshan-road-naroda-ahemdabad-ZtY {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #0d0d0d;
          font-family: Arbutus, 'Source Sans Pro';
          max-width: 37.4rem;
        }
      }
    }
    .auto-group-dxwc-GHA {
      margin-bottom: 7.3rem;
      width: 37.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .subscribe-zyr {
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 7.3rem 6.2rem 0rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .auto-group-hs4g-XTz {
        background-color: #563333;
        height: 4.1rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8.2rem;
        width: 100%;
        font-size: 2.4rem;
        font-family: Arbutus, 'Source Sans Pro';
      }
      .auto-group-frlg-dX2 {
        flex-shrink: 0;
        margin-left: 0.7rem;
        background-color: #ff0000;
        color: #010101;
        display: flex;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        width: 37.2rem;
        height: 5.5rem;
        font-family: Arbutus, 'Source Sans Pro';
      }
    }
  }
}
