
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.9rem;
}.book-a-table-1P2 {
  overflow: hidden;
  align-items: center;
  display: flex;
  background: linear-gradient(180deg, #f50303 -0%, #bebabb 100%);
  box-sizing: border-box;
  padding-bottom: 1.1rem;
  width: 100%;
  position: relative;
  flex-direction: column;

  .frame-8-wnU {
    margin-bottom: 5.9rem;
    width: 144rem;
    height: 14.4rem;
    position: relative;
    overflow: hidden;
    background-color: #310808;
    flex-shrink: 0;

    .logo-gEG {
      line-height: 1.25;
      height: 8rem;
      position: absolute;
      left: 3.6rem;
      top: 3.2rem;
      font-size: 6.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Arbutus, 'Source Sans Pro';
      width: 17.1rem;
      white-space: nowrap;
    }
    .home-about-menu-serivices-testmanial-book-a-table-contact-aaY {
      left: 33.3rem;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
      font-family: Arbutus, 'Source Sans Pro';
      width: 105.5rem;
      height: 2.5rem;
      position: absolute;
      white-space: nowrap;
      top: 6.9rem;
      font-size: 2rem;
    }
    .frame-7-rY4 {
      height: 14.4rem;
      overflow: hidden;
      align-items: center;
      background-color: #310808;
      box-sizing: border-box;
      width: 144rem;
      left: 0;
      top: 0;
      display: flex;
      padding: 3.2rem 5.2rem 3.2rem 3.6rem;
      position: absolute;

      .logo-AYk {
        margin-right: 12.6rem;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .home-about-menu-serivices-testmanial-book-a-table-contact-uFS {
        flex-shrink: 0;
        margin-top: 1.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .book-a-table-1JU {
    color: #000000;
    font-family: Arbutus, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 9.6rem;
    font-weight: 400;
    line-height: 1.25;
  }
  .auto-group-leha-k1A {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.1rem 1.5rem 3.9rem 2.3rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-vszn-53S {
      margin-bottom: 0.1rem;
      width: 100%;
      height: 16.6rem;
      position: relative;
      flex-shrink: 0;

      .frame-12-R7J {
        width: 128.8rem;
        height: 10.4rem;
        position: absolute;
        left: 6.9rem;
        top: 6.2rem;
        overflow: hidden;
      }
      .rectangle-44-MWk {
        left: 0;
        top: 0;
        background-color: rgba(217, 217, 217, 0.4799999893);
        border-radius: 2rem;
        width: 140.1rem;
        height: 11.4rem;
        position: absolute;
      }
      .enter-your-name--5he {
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        height: 5rem;
        position: absolute;
        top: 3.2rem;
        color: #000000;
        line-height: 1.25;
        width: 43.3rem;
        left: 1.3rem;
        font-size: 4rem;
        font-weight: 400;
      }
    }
    .auto-group-lc6g-Nwe {
      width: 100%;
      height: 16.1rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 3.5rem;

      .frame-13-78Y {
        width: 4.3rem;
        height: 6.3rem;
        position: absolute;
        left: 6.9rem;
        top: 9.8rem;
        overflow: hidden;
      }
      .rectangle-45-qqE {
        width: 140.1rem;
        height: 11.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(217, 217, 217, 0.5600000024);
        border-radius: 2rem;
      }
      .enter-your-email--P64 {
        line-height: 1.25;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        height: 5rem;
        top: 3.2rem;
        font-weight: 400;
        font-size: 4rem;
        color: #000000;
        width: 43.3rem;
        position: absolute;
        left: 1.3rem;
      }
    }
    .auto-group-iumn-Vet {
      width: calc(100% - 2.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.9rem 6.5rem 0.7rem;

      .auto-group-s13i-Dqn {
        color: #000000;
        padding: 1.8rem 0.6rem 2.5rem 0.6rem;
        font-size: 4rem;
        width: 87.5rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        background-color: rgba(217, 217, 217, 0.5899999738);
        margin: 0rem 3.1rem 0.1rem 0rem;
        box-sizing: border-box;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .auto-group-mxzy-57J {
        width: 46.9rem;
        height: 9.3rem;
        white-space: nowrap;
        flex-shrink: 0;
        border-radius: 2rem;
        box-sizing: border-box;
        font-weight: 400;
        line-height: 1.25;
        font-family: Arbutus, 'Source Sans Pro';
        margin-top: 0.1rem;
        padding: 1.3rem 2.3rem;
        color: #000000;
        font-size: 2.4rem;
        background-color: rgba(217, 217, 217, 0.5600000024);
      }
    }
    .auto-group-5uet-kDS {
      flex-shrink: 0;
      margin-right: 1.9rem;
      box-sizing: border-box;
      width: 138.2rem;
      height: 20.2rem;
      color: #000000;
      font-family: Arbutus, 'Source Sans Pro';
      border-radius: 2rem;
      padding: 1.6rem 0.7rem;
      font-size: 4rem;
      font-weight: 400;
      white-space: nowrap;
      background-color: rgba(217, 217, 217, 0.3799999952);
      line-height: 1.25;
    }
  }
  .frame-9-1v4 {
    height: 37.2rem;
    position: relative;
    background-color: #310808;
    padding: 5.8rem 1.2rem 0rem 5rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;

    .auto-group-lthr-YQC {
      margin-right: 6.2rem;
      width: 43.9rem;
      flex-shrink: 0;

      .logo-tix {
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.4rem 7.2rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.25;
      }
      .auto-group-epsq-DFS {
        width: 100%;
        height: 27.4rem;
        background-color: #563333;
        box-sizing: border-box;
        padding: 0 1.2rem;

        .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-YoW {
          font-family: Arbutus, 'Source Sans Pro';
          max-width: 37rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
        }
      }
    }
    .auto-group-u9zu-nhr {
      flex-shrink: 0;
      margin-right: 7.1rem;
      width: 42.6rem;

      .contact-us-XfS {
        margin: 0rem 0rem 3.4rem 3.4rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-xug4-ek4 {
        white-space: nowrap;
        background-color: #563333;
        padding: 0.1rem 0;
        height: 3.8rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        margin-bottom: 2.3rem;
        box-sizing: border-box;
        width: 100%;
        font-size: 2.4rem;
        font-family: Arbutus, 'Source Sans Pro';
      }
      .auto-group-nefe-xVr {
        margin-bottom: 2.3rem;
        width: 100%;
        height: 4.5rem;
        position: relative;

        .rectangle-8-hyE {
          width: 42.6rem;
          height: 4.1rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          background-color: #563333;
        }
        .timing-9am-to9pm-Svp {
          width: 28.4rem;
          height: 3rem;
          position: absolute;
          left: 0;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          top: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          white-space: nowrap;
        }
      }
      .auto-group-bpp2-xuA {
        height: 14.6rem;
        background-color: #563333;
        box-sizing: border-box;
        padding: 0.4rem 0.1rem;
        width: 100%;

        .adress-f-306-vraj-vihar-haridarshan-road-naroda-ahemdabad-Jy2 {
          line-height: 1.25;
          color: #0d0d0d;
          font-family: Arbutus, 'Source Sans Pro';
          max-width: 37.4rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-fhzc-2PE {
      margin-bottom: 2.9rem;
      width: 37.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .subscribe-MwJ {
        margin: 0rem 7.3rem 6.2rem 0rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-wdsr-gya {
        width: 100%;
        height: 4.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        background-color: #563333;
        flex-shrink: 0;
        margin-bottom: 8.2rem;
        line-height: 1.25;
        color: #000000;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-hbpg-QPn {
        font-size: 2.4rem;
        line-height: 1.25;
        color: #010101;
        align-items: center;
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        margin-left: 0.7rem;
        background-color: #ff0000;
        justify-content: center;
        flex-shrink: 0;
        width: 37.2rem;
        height: 5.5rem;
        font-family: Arbutus, 'Source Sans Pro';
      }
    }
  }
}
