
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.7rem;
}.contact-us-HJk {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #ff0000 -0%, #ffffff 0.01%, #f33c3c 99.98%, #ffffff 99.99%, #999999 100%);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .frame-8-DiC {
    flex-shrink: 0;
    margin-bottom: 5rem;
    width: 144rem;
    height: 14.4rem;
    position: relative;
    overflow: hidden;
    background-color: #310808;

    .logo-ki8 {
      line-height: 1.25;
      white-space: nowrap;
      width: 17.1rem;
      height: 8rem;
      top: 3.2rem;
      font-weight: 400;
      font-family: Arbutus, 'Source Sans Pro';
      position: absolute;
      left: 3.6rem;
      font-size: 6.4rem;
      color: #ffffff;
    }
    .home-about-menu-serivices-testmanial-book-a-table-contact-T6k {
      width: 105.5rem;
      height: 2.5rem;
      position: absolute;
      left: 33.3rem;
      top: 6.9rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.25;
      color: #ffffff;
      font-family: Arbutus, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-7-k5r {
      position: absolute;
      left: 0;
      overflow: hidden;
      display: flex;
      padding: 3.2rem 5.2rem 3.2rem 3.6rem;
      width: 144rem;
      height: 14.4rem;
      top: 0;
      align-items: center;
      background-color: #310808;
      box-sizing: border-box;

      .logo-TW4 {
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.6rem;
        font-size: 6.4rem;
        font-weight: 400;
      }
      .home-about-menu-serivices-testmanial-book-a-table-contact-Nsv {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 1.9rem;
      }
    }
  }
  .contact-us-5XS {
    color: #000000;
    font-family: Arbutus, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 6.6rem 1.2rem;
    font-size: 9.6rem;
    font-weight: 400;
    line-height: 1.25;
  }
  .full-name--PHE {
    line-height: 1.25;
    color: #000000;
    font-family: Arbutus, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 99.2rem;
    font-size: 3.6rem;
    font-weight: 400;
  }
  .auto-group-vx4c-X8Y {
    margin: 0rem 2.7rem 15rem 10.1rem;
    width: calc(100% - 12.8rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-135e-SWQ {
      flex-shrink: 0;
      margin-right: 9.5997rem;
      width: 67.4003rem;
      height: 48rem;
      position: relative;
      border-top: solid 0.1rem #ff0000;
      box-sizing: border-box;

      .line-2-xzY {
        height: 0.1rem;
        position: absolute;
        left: 0.4999rem;
        top: 13.1rem;
        background-color: #ff0000;
        width: 66.9003rem;
      }
      .email--tdJ {
        height: 4.5rem;
        position: absolute;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.5rem;
        top: 7.6rem;
        color: #000000;
        left: 0.5rem;
      }
      .line-3-yue {
        top: 25.2rem;
        background-color: #ff0000;
        width: 66.9003rem;
        height: 0.1rem;
        position: absolute;
        left: 0.5rem;
      }
      .message--vK6 {
        width: 19.3rem;
        left: 0.5rem;
        top: 19.4rem;
        font-weight: 400;
        white-space: nowrap;
        height: 4.5rem;
        position: absolute;
        font-size: 3.6rem;
        line-height: 1.25;
        color: #000000;
        font-family: Arbutus, 'Source Sans Pro';
      }
      .auto-group-aaag-S2Y {
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        position: absolute;
        top: 40rem;
        line-height: 1.25;
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, #e53131 0%, #eed5d5 100%);
        left: 14.1rem;
        font-size: 3.6rem;
        white-space: nowrap;
        align-items: center;
        height: 8rem;
        font-weight: 400;
        width: 45.1rem;
        border-radius: 3rem;
      }
    }
    .rectangle-50-fvt {
      width: 52.9rem;
      height: 51.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .frame-9-DBi {
    box-sizing: border-box;
    padding: 5.8rem 1.3rem 7.4rem 5rem;
    overflow: hidden;
    position: relative;
    background-color: #310808;
    flex-shrink: 0;
    width: 144rem;
    display: flex;
    align-items: center;

    .auto-group-nwye-XTJ {
      margin: 1rem 6.2rem 0rem 0rem;
      width: 43.9rem;
      flex-shrink: 0;

      .logo-Fu6 {
        white-space: nowrap;
        margin: 0rem 0rem 2.4rem 7.2rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
      }
      .auto-group-pfue-z5z {
        box-sizing: border-box;
        padding: 0 1.2rem;
        width: 100%;
        height: 27.4rem;
        background-color: #563333;

        .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-jJU {
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          max-width: 37rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }
    }
    .auto-group-r1cp-P88 {
      width: 42.6rem;
      flex-shrink: 0;
      margin: 0.4rem 7.1rem 0rem 0rem;

      .contact-us-iRJ {
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 3.4rem 3.4rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
      }
      .auto-group-2id2-3Cg {
        margin-bottom: 2.3rem;
        padding: 0.1rem 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        height: 3.8rem;
        background-color: #563333;
      }
      .auto-group-qgus-Y9S {
        height: 4.5rem;
        position: relative;
        margin-bottom: 2.3rem;
        width: 100%;

        .rectangle-8-Gr8 {
          left: 0;
          top: 0.4rem;
          background-color: #563333;
          width: 42.6rem;
          height: 4.1rem;
          position: absolute;
        }
        .timing-9am-to9pm-Cjn {
          white-space: nowrap;
          position: absolute;
          font-size: 2.4rem;
          left: 0;
          top: 0;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          width: 28.4rem;
          height: 3rem;
        }
      }
      .auto-group-lelu-iTE {
        box-sizing: border-box;
        padding: 0.4rem 0.1rem;
        width: 100%;
        height: 14.6rem;
        background-color: #563333;

        .adress-f-306-vraj-vihar-haridarshan-road-naroda-ahemdabad-DPz {
          max-width: 37.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
        }
      }
    }
    .auto-group-flpw-4vQ {
      margin-bottom: 7.3rem;
      width: 37.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .subscribe-D2c {
        margin: 0rem 7.3rem 6.2rem 0rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-hfat-vxc {
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #563333;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 1.25;
        height: 4.1rem;
        font-weight: 400;
        color: #000000;
        margin-bottom: 8.2rem;
        width: 100%;
      }
      .auto-group-toxz-qZn {
        line-height: 1.25;
        flex-shrink: 0;
        width: 37.2rem;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
        align-items: center;
        background-color: #ff0000;
        margin-left: 0.7rem;
        height: 5.5rem;
        color: #010101;
        font-family: Arbutus, 'Source Sans Pro';
        display: flex;
      }
    }
  }
}
