
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 146.2rem;
}.frame-11-xkt {
  display: flex;
  align-items: center;
  background-color: #310808;
  box-sizing: border-box;
  padding: 5.8rem 3.5rem 3.5rem 5rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-f2zg-HHN {
    margin: 1rem 6.2rem 0rem 0rem;
    width: 43.9rem;
    flex-shrink: 0;

    .logo-R8g {
      white-space: nowrap;
      margin: 0rem 0rem 2.4rem 7.2rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
      font-family: Arbutus, 'Source Sans Pro';
    }
    .auto-group-smhn-jv4 {
      padding: 0.2rem 1.4rem;
      width: 100%;
      height: 27.4rem;
      background-color: #563333;
      box-sizing: border-box;

      .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-alteration-in-some-form-by-injected-humour-or-randomised-Use {
        font-family: Arbutus, 'Source Sans Pro';
        max-width: 38rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
      }
    }
  }
  .auto-group-k7wl-jYg {
    flex-shrink: 0;
    margin: 0.4rem 7.1rem 0rem 0rem;
    width: 42.6rem;

    .contact-us-fSL {
      line-height: 1.25;
      color: #ffffff;
      font-family: Arbutus, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 3.4rem 3.4rem;
      font-size: 3.6rem;
      font-weight: 400;
    }
    .auto-group-p2dj-BvU {
      color: #000000;
      width: 100%;
      font-size: 2.4rem;
      padding: 0.1rem 0;
      height: 3.8rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Arbutus, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.3rem;
      box-sizing: border-box;
      background-color: #563333;
    }
    .auto-group-baui-Ueg {
      margin-bottom: 2.3rem;
      width: 100%;
      height: 4.5rem;
      position: relative;

      .rectangle-8-cVz {
        left: 0;
        top: 0.4rem;
        background-color: #563333;
        width: 42.6rem;
        height: 4.1rem;
        position: absolute;
      }
      .timing-9am-to9pm-YuS {
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        width: 28.4rem;
        left: 0;
        top: 0;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        height: 3rem;
        position: absolute;
        font-size: 2.4rem;
      }
    }
    .auto-group-em9n-rfE {
      box-sizing: border-box;
      padding: 0.4rem 0.1rem;
      width: 100%;
      height: 14.6rem;
      background-color: #563333;

      .adress-f-306-vraj-vihar-haridarshan-road-naroda-ahemdabad-zmS {
        font-family: Arbutus, 'Source Sans Pro';
        max-width: 37.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #0d0d0d;
      }
    }
  }
  .auto-group-ptic-J1S {
    margin-bottom: 7.3rem;
    width: 37.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .subscribe-S7e {
      color: #ffffff;
      font-family: Arbutus, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.3rem 6.2rem 0rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.25;
    }
    .auto-group-hpsa-YwN {
      flex-shrink: 0;
      width: 100%;
      font-size: 2.4rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      background-color: #563333;
      margin-bottom: 8.2rem;
      height: 4.1rem;
      font-weight: 400;
      font-family: Arbutus, 'Source Sans Pro';
    }
    .auto-group-4xfn-492 {
      flex-shrink: 0;
      margin-left: 0.7rem;
      width: 37.2rem;
      height: 5.5rem;
      white-space: nowrap;
      justify-content: center;
      background-color: #ff0000;
      font-weight: 400;
      line-height: 1.25;
      color: #010101;
      display: flex;
      font-size: 2.4rem;
      font-family: Arbutus, 'Source Sans Pro';
      align-items: center;
    }
  }
}
