
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-page-pEG {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #f52121 -0%, #cbc1c1 100%);

  .frame-12-m9W {
    height: 14.4rem;
    position: relative;
    overflow: hidden;
    background-color: #310808;
    flex-shrink: 0;
    width: 100%;

    .logo-Wct {
      height: 8rem;
      position: absolute;
      left: 3.6rem;
      font-size: 6.4rem;
      font-weight: 400;
      font-family: Arbutus, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.1rem;
      line-height: 1.25;
      color: #ffffff;
      top: 3.2rem;
    }
    .home-about-menu-serivices-testmanial-book-a-table-contact-1pY {
      font-weight: 400;
      line-height: 1.25;
      font-family: Arbutus, 'Source Sans Pro';
      width: 105.5rem;
      height: 2.5rem;
      position: absolute;
      top: 6.9rem;
      font-size: 2rem;
      left: 33.3rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .frame-7-6b6 {
      position: absolute;
      display: flex;
      align-items: center;
      background-color: #310808;
      box-sizing: border-box;
      padding: 3.2rem 5.2rem 3.2rem 3.6rem;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 144rem;
      height: 14.4rem;

      .logo-okQ {
        flex-shrink: 0;
        margin-right: 12.6rem;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
      }
      .home-about-menu-serivices-testmanial-book-a-table-contact-wbi {
        font-weight: 400;
        line-height: 1.25;
        color: #ffffff;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 1.9rem;
        font-size: 2rem;
      }
    }
  }
  .auto-group-6fxs-Eap {
    box-sizing: border-box;
    padding: 2.3rem 5rem 1.8rem 3.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-qlng-kp4 {
      margin: 0rem 23.6rem 1rem 22.5rem;
      width: calc(100% - 46.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .sign-up-gBv {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 56.7rem 1.1rem 0rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.25;
        color: #000000;
        font-family: Arbutus, 'Source Sans Pro';
      }
      .login-CAG {
        color: #000000;
        font-family: Arbutus, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 1.1rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.25;
      }
    }
    .auto-group-7zfs-vrx {
      width: 100%;
      height: 76.8rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-fhqg-Uda {
        height: 100%;
        background-color: rgba(217, 217, 217, 0.3600000143);
        flex-shrink: 0;
        margin-right: 12.4rem;
        box-sizing: border-box;
        padding: 1.4rem 1.6rem 3.1rem 1.3rem;
        width: 63.5rem;

        .full-name--mMn {
          line-height: 1.25;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .rectangle-59-6ur {
          margin: 0rem 0rem 4.9rem 0.5rem;
          width: 60.1rem;
          height: 5.6rem;
          background-color: rgba(217, 217, 217, 0.5);
        }
        .email--DUg {
          line-height: 1.25;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .rectangle-60-kzQ {
          background-color: rgba(217, 217, 217, 0.5);
          margin: 0rem 0rem 4.9rem 0.5rem;
          width: 60.1rem;
          height: 5.6rem;
        }
        .phone-number--t52 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-61-pUU {
          margin-bottom: 4.9rem;
          width: 60.1rem;
          height: 5.6rem;
          background-color: rgba(217, 217, 217, 0.5);
        }
        .adress--MzC {
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.25;
        }
        .rectangle-62-UZ2 {
          height: 16.3rem;
          background-color: rgba(217, 217, 217, 0.5);
          margin-bottom: 3.5rem;
          width: 60.1rem;
        }
        .auto-group-fzxg-UhS {
          font-weight: 400;
          font-family: Arbutus, 'Source Sans Pro';
          justify-content: center;
          width: calc(100% - 28.8rem);
          line-height: 1.25;
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 3.6rem;
          background-color: rgba(255, 0, 0, 0.5);
          border-radius: 3rem;
          margin: 0rem 17.4rem 0rem 11.4rem;
          height: 7.6rem;
          color: #ffffff;
        }
      }
      .auto-group-k48l-rCC {
        flex-shrink: 0;
        margin-top: 1.3rem;
        width: 59.6rem;
        height: 50rem;
        position: relative;

        .email-adress--BEU {
          position: absolute;
          left: 2.4rem;
          white-space: nowrap;
          line-height: 1.25;
          color: #ffffff;
          font-family: Arbutus, 'Source Sans Pro';
          width: 19.4rem;
          height: 3rem;
          top: 3.3rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .frame-14-VFA {
          left: 12.5rem;
          top: 4.1rem;
          overflow: hidden;
          width: 10rem;
          height: 10rem;
          position: absolute;
        }
        .rectangle-64-d6U {
          top: 0;
          background-color: rgba(217, 217, 217, 0.5);
          width: 59.6rem;
          height: 50rem;
          position: absolute;
          left: 0;
        }
        .rectangle-65-xPe {
          width: 57rem;
          height: 5.3rem;
          position: absolute;
          left: 1.6rem;
          top: 9.7rem;
          background-color: rgba(217, 217, 217, 0.5);
        }
        .password--5UG {
          left: 2.8rem;
          top: 20.2rem;
          font-size: 2.4rem;
          line-height: 1.25;
          height: 3rem;
          position: absolute;
          font-weight: 400;
          color: #000000;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.6rem;
        }
        .rectangle-66-PE4 {
          top: 25.9rem;
          background-color: rgba(217, 217, 217, 0.5);
          width: 58rem;
          height: 5.6rem;
          position: absolute;
          left: 1.1rem;
        }
        .rectangle-67-KNc {
          width: 23.4rem;
          height: 7.1rem;
          position: absolute;
          left: 17.3rem;
          top: 39.9rem;
          background-color: #e44242;
          border-radius: 3rem;
        }
        .login-3pQ {
          width: 14rem;
          top: 41rem;
          font-weight: 400;
          font-family: Arbutus, 'Source Sans Pro';
          white-space: nowrap;
          height: 5rem;
          position: absolute;
          left: 21.8rem;
          font-size: 4rem;
          line-height: 1.25;
          color: #010101;
        }
      }
    }
  }
}
