
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.5rem;
}.rectangle-54-u4p {
  height: 8rem;
  background-color: rgba(217, 217, 217, 0.3400000036);
  width: 100%;
}
