
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 82.8rem;
}.rectangle-53-V16 {
  height: 8.2rem;
  background-color: rgba(217, 217, 217, 0.4600000083);
  width: 100%;
}
